

/* Contenido principal */
.main-content {
    flex-grow: 1;
    background-color: #f4f4f4;
    padding: 20px;
    overflow-y: auto;
}

.h1 {
    display: flex;
    font-size: 5vh;
    margin: 2vh;
    color: #000000;
    justify-content: center;
}

.content {
    padding: 20px;
}

.content table {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 20px;
}

.content table, 
.content th, 
.content td {
    border: 1px solid #000; 
}

.content th, 
.content td {
    padding: 8px; 
    text-align: left;
}

